<link href="/assets/_vendor/album/css/piccontext.css" rel="stylesheet" type="text/css" />
<script src="/assets/_vendor/album/js/piccontent.min.js" type="text/javascript"></script>
<!--弹出层开始-->
<div class="bodymodal"></div>
<!--播放到第一张图的提示-->
<div class="firsttop">
    <div class="firsttop_left">
    </div>
    <div class="firsttop_right">
        <div class="close2"> <a class="closebtn1" title="关闭" href="javascript:void(0)"></a> </div>
        <div class="replay">
            <h2 id="div-end-h2"> 已到第一张图片了。 </h2>
            <p> <a class="replaybtn1" href="javascript:;">重新播放</a> </p>
        </div>
        <div class="pictwo">
            <ul>
                <li><a href="http://www.chenxun.org" title="成都举行最美女孩大赛 高校美女身穿旗袍秀身材" target="_blank"><img src="/assets/_vendor/album/images/prev.jpg" alt="成都举行最美女孩大赛 高校美女身穿旗袍秀身材" /></a>
                    <div class="imgdivtext"> <a href="http://www.chenxun.org" title="成都举行最美女孩大赛 高校美女身穿旗袍秀身材" target="_blank">上一图集</a> </div>
                </li>
                <li><a href="http://www.chenxun.org" title="王诗龄一家三口赴美开启梦幻的“公主之旅”假期" target="_blank"><img src="/assets/_vendor/album/images/next.jpg" alt="王诗龄一家三口赴美开启梦幻的“公主之旅”假期" /></a>
                    <div class="imgdivtext"> <a href="http://www.txcomcom.com" title="王诗龄一家三口赴美开启梦幻的“公主之旅”假期" target="_blank">下一图集</a> </div>
                </li>
            </ul>
        </div>
        <div class="returnbtn"> <a href="http://www.chenxun.org">返回图库首页</a> </div>
    </div>
</div>
<!--播放到最后一张图的提示-->
<div class="endtop">
    <div class="firsttop_left">
    </div>
    <div class="firsttop_right">
        <div class="close2"> <a class="closebtn2" title="关闭" href="javascript:void(0)"></a> </div>
        <div class="replay">
            <h2 id="H1"> 已到最后一张图片了。 </h2>
            <p> <a class="replaybtn2" href="javascript:;">重新播放</a> </p>
        </div>
        <div class="pictwo">
            <ul>
                <li><a href="http://www.chenxun.org" title="成都举行最美女孩大赛 高校美女身穿旗袍秀身材" target="_blank"><img src="/assets/_vendor/album/images/prev.jpg" alt="成都举行最美女孩大赛 高校美女身穿旗袍秀身材" /></a>
                    <div class="imgdivtext"> <a href="http://www.greatidc.com" title="成都举行最美女孩大赛 高校美女身穿旗袍秀身材" target="_blank">上一图集</a> </div>
                </li>
                <li><a href="http://www.chenxun.org" title="王诗龄一家三口赴美开启梦幻的“公主之旅”假期" target="_blank"><img src="/assets/_vendor/album/images/next.jpg" alt="王诗龄一家三口赴美开启梦幻的“公主之旅”假期" /></a>
                    <div class="imgdivtext"> <a href="http://www.chenxun.org" title="王诗龄一家三口赴美开启梦幻的“公主之旅”假期" target="_blank">下一图集</a> </div>
                </li>
            </ul>
        </div>
        <div class="returnbtn"> <a href="http://www.chenxun.org">返回图库首页</a> </div>
    </div>
</div>
<!--弹出层结束-->
<!--图片特效内容开始-->
<div class="piccontext">
    <div class="source">
        <div class="source_left"> 来源：本站原创<span><%= moment(data.release_date).format("YYYY-DD-MM HH:mm:ss") %></span> &nbsp;&nbsp;浏览次数：<span
                    id="views"><%= data.views %></span></div>
        <div class="source_right">
            <div class="support"> 支持<img src="/assets/_vendor/album/images/jiantou1.jpg" />键翻阅图片 </div>
            <span>|</span><a href="#myspeak" class="spell">我有话说</a><span>|</span><a href="javascript:;" class="list">列表查看</a> </div>
        <div class="source_right1"> <a href="javascript:;" class="gaoqing">高清查看</a> </div>
    </div>
    <!--大图展示-->
    <div class="picshow">
        <div class="picshowtop">
            <a href="#"><img src="" alt="" id="pic1" curindex="0" /></a>
            <a id="preArrow" href="javascript:void(0)" class="contextDiv" title="上一张"><span id="preArrow_A"></span></a>
            <a id="nextArrow" href="javascript:void(0)" class="contextDiv" title="下一张"><span id="nextArrow_A"></span></a>
        </div>
        <div class="picshowtxt">
            <div class="picshowtxt_left"><span>1</span>/<i><%=data.images.length%></i></div>
            <div class="picshowtxt_right"></div>
        </div>
        <div class="picshowlist">
            <!--上一条图库-->
            <div class="picshowlist_left">
                <div class="picleftimg"> <a href="http://www.chenxun.org" title="成都举行最美女孩大赛 高校美女身穿旗袍秀身材" target="_blank"><img src="/assets/_vendor/album/images/prev.jpg" alt="成都举行最美女孩大赛 高校美女身穿旗袍秀身材" /></a> </div>
                <div class="piclefttxt"> <a href="http://www.chenxun.org" title="成都举行最美女孩大赛 高校美女身穿旗袍秀身材" target="_blank">成都举行最美女孩大赛 高校美女身穿旗袍秀身材</a> </div>
            </div>
            <div class="picshowlist_mid">
                <div class="picmidleft"> <a href="javascript:void(0)" id="preArrow_B"><img src="/assets/_vendor/album/images/left1.jpg" alt="上一个" /></a> </div>
                <div class="picmidmid">
                    <ul>
                        <% for (var i = 0; i<data.images.length; i++){ %>
                            <li>
                                <a href="javascript:void(0);">
                                    <img src="/assets/_vendor/album/images/<%=i+1%>.jpg" alt="" bigimg="/assets/_vendor/album/images/<%=i+1%>.jpg" text="<%=data['title']%>" />
                                </a>
                            </li>
                        <% } %>
                    </ul>
                </div>
                <div class="picmidright"> <a href="javascript:void(0)" id="nextArrow_B"><img src="/assets/_vendor/album/images/right1.jpg" alt="下一个" /></a> </div>
            </div>
            <!--下一张图库新闻-->
            <div class="picshowlist_right">
                <div class="picleftimg"> <a href="http://www.chenxun.org" title="王诗龄一家三口赴美开启梦幻的“公主之旅”假期" target="_blank"><img src="/assets/_vendor/album/images/next.jpg" alt="王诗龄一家三口赴美开启梦幻的“公主之旅”假期" /></a> </div>
                <div class="piclefttxt"> <a href="http://www.chenxun.org" title="王诗龄一家三口赴美开启梦幻的“公主之旅”假期" target="_blank">王诗龄一家三口赴美开启梦幻的“公主之旅”假期</a> </div>
            </div>
        </div>
    </div>

    <!--列表展示-->
    <div class="piclistshow">
        <ul>
            <% for (var i = 0; i<data.images.length; i++){ %>
                <li>
                    <div class="picimg"><img src="/assets/_vendor/album/images/<%=i+1%>.jpg" alt="" /></div>
                    <div class="pictxt">
                        <h3><%=data['title']%><span>(<%=i+1%>/<%=data.images.length%>)</span></h3>
                    </div>
                </li>
            <% } %>
        </ul>
    </div>
</div>
